.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 100vh; 
}

.dashboard-content {
    flex-grow: 1; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    padding-top: 60px;
}
